---
const {frontmatter, url} = Astro.props;
---

<div class="card sm:w-[60%] w-[95%]  shadow mx-auto mb-[3%] mt-[1%] rounded-md">
	<!-- <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
	<a href={url}>
	<div class="card-body bg-primary rounded-md">
	  <h2 class="card-title">
		{frontmatter.title}
		<div class="badge badge-info">NEW</div>
	  </h2>
	  <p class="line-clamp-2 flex-wrap">{frontmatter.description}
	  </p>
	  <div class="card-actions flex-wrap justify-end">
		<div class="badge badge-outline bg-secondary">Fashion</div> 
		<div class="badge badge-outline">Products</div>
	  </div>
	</div>
</a>
  </div>
